fastapi==0.115.6
uvicorn==0.34.0
insightface==0.7.3
opencv-python-headless==4.10.0.84
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-multipart==0.0.18
numpy==1.26.4
pydantic==2.10.4
onnxruntime==1.16.3
xxhash==3.5.0
pgvector==0.5.0
